@import url(https://fonts.googleapis.com/css?family=Passion+One);
@import url(https://fonts.googleapis.com/css?family=Bungee);
@import url(https://fonts.googleapis.com/css?family=Bangers);
* {margin: 0px;padding: 0px;box-sizing: border-box;}
body {
    font-family: 'Bangers';
    background-color: #f1f3f5;color: white;
    background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.2 ) 100% );
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }
 /***********-*******************/
.card-titlemio, .card-textmio{color:hsla(201, 100%, 6%, 0.9); font-size: 20px;}

.cs_thumb img{width:70px; height:50px;}
/**********18-6***********/

.minav{  
    padding:0 10px;
    background-color: hsla(201, 100%, 6%, 0.9);
}
.wraptitubebi{
    text-align: center; 
    background-color: hsla(201, 100%, 6%, 0.9);
    
}
.titubebi{ 
    text-shadow: #F4F 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color:#f1f3f5;   
    padding:5px;}

.titucasa, .cerrars{
    text-shadow: #F4F 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color:#f1f3f5;   
    text-decoration: none;
}

/*------------*/
.alturaslider{height:280px;}

.formusu{display:none;text-align:end;
margin-bottom: 40px;margin-right: 10px;}

#usuario{ 
padding: 5px 0  5px 4px;
}

.estilolabel{   color:hsl(201, 44%, 85%);
    letter-spacing: 2px;
    background-color: hsla(201, 100%, 6%, 0.9); padding:10px;
border-radius: 5px; font-family: 'Bangers';
text-shadow: #F4F 0px 0px 5px, rgb(67, 142, 172) 0px 0px 10px, rgb(41, 92, 116) 0px 0px 15px, #2da0ff 0px 0px 20px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 45px;
   
 }

 /**********CARDS*************/
 .cardbodymio{
   display:flex;flex-direction: column;align-items: center;
 }
.btnmio{
    padding: 5px; 
    width: 50%;
    border-radius: 5px;
    position: relative; bottom:11px;
    border: 1px solid hsl(201, 100%, 50%);
    outline: none;
    font-size: 12px;
    color: black;font-weight: 600;
    
    cursor: pointer;
     
  }
  
  .btnmio:hover {background-color: hsla(201, 100%, 50%, 0.3);}
  
  .btnmio:focus { background-color: hsla(201, 100%, 50%, 0.5);}

  #fname2{ border: 1px solid hsl(201, 100%, 50%);}
  .btnmio2{
    padding: 5px; 
    width: 100px;
    border-radius: 5px;
    background: hsl(201, 100%, 50%);
    border: 1px solid hsla(201, 100%, 6%, 0.9);
    outline: none;
    font-size: 12px;
    color: black;
    font-weight: lighter;
    cursor: pointer;
  }

  .carritotitu{
    letter-spacing: 1.5px;
      width:100px;padding:10px;margin-top: 10px;
    background: #F4F; 
    box-shadow:1px 1px 22px #F4F;
     
  }
 /**************--------------------------**************/
 .unico{
  position: relative;right:55px;
 }
 /*-----------------------------*/
 
/*  Needed for filters */

.hide { /* You can play with the seconds to change the "animation" */
  animation: hide .5s ease 0s 1 normal forwards;
  transform-origin: center;
}
.show { /* You can play with the seconds to change the "animation" */
    animation: show .5s ease 0s 1 normal forwards;    
    transform-origin: center;
}

@keyframes hide {
  0%{
    transform: scale(1);        
  }
  100% {
    transform: scale(0);        
    width: 0;
    height: 0;
    margin: 0;
  }
}
@keyframes show {
  0%{
    transform: scale(0);     
    width: 0;
    height: 0;
    margin: 0;   
  }
  100% {
    transform: scale(1);    
  }
}
/*  // Needed for filters */

/* For decoration only */
  
.filters2 {
  margin:0 10px;
  display: flex;
  justify-content: center;
  color:hsla(201, 100%, 6%, 0.9);
}
.filter2 {
  margin: 6px;
}
.filter2:hover {
  cursor: pointer;
}
.projects{display:flex;flex-direction: row;margin-bottom: 30px;
 }

/* // For decoration only */